TRAEFIK_ACME_EMAIL=ops@datain.pro
TRAEFIK_LOG_LEVEL=INFO

# Dashboard opcional
TRAEFIK_DASHBOARD_ENABLED=false
TRAEFIK_DASHBOARD_HOST=traefik.sign.datain.pro

# Generar con:
# htpasswd -nb admin 'tu-password-seguro' | sed -e s/\\$/\\$\\$/g
TRAEFIK_DASHBOARD_AUTH=admin:$$apr1$$replace$$replace
